PG_DATABASE_HOST="localhost"
PG_DATABASE_USER="postgres"
PG_DATABASE_PASSWORD="postgres"
PG_DATABASE_NAME="postgres"
PG_DATABASE_PORT="5432"
GORM_MAX_IDLE_CONNS=5
GORM_MAX_OPEN_CONNS=5
GORM_MAX_LIFE_TIME=5
ENV="local|dev|qa|pdn"